body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #111827;
}

.heading {
    text-align: center;
    color: #fff;
}

h1 {
    margin-bottom: 0;
}

h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #fff;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="date"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #218838;
}

#confirmed-bookings {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f8f9fa;
}

button.action-button {
    margin-right: 10px;
}


/* Media query for mobile devices */
@media (max-width: 768px) {
    table {
        font-size: 14px; /* Reduce text size on smaller screens */
    }

    th, td {
        padding: 8px; /* Reduce padding for smaller screens */
    }

    button.action-button {
        margin-right: 5px; /* Reduce button margin on smaller screens */
    }

    /* Adjust table layout for very small screens */
    @media (max-width: 480px) {
        th, td {
            padding: 6px; /* Further reduce padding */
        }

        /* Make table scrollable on smaller screens */
        table {
            display: block;
            overflow-x: auto;
            white-space: nowrap;
        }
    }

    button {
        padding: 5px 10px;
    }

}